
.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 0, 34);
    border-radius: 300px;
    height: 25px;
    
  }
  
  .footer a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    color: rgb(246, 255, 212);
  }
  