.headerContainer {
  padding-left: 10px;
  align-items: center;
  background-color: rgb(26, 1, 12);
  border-radius: 40px;
  

  
}



#navbarNav a {
  color: #eaeaea;
}
#navbarNav a:hover {
  color: #ffc72e;
}

#navbarNavRigth a {
  color: #0a0909;
}
#navbarNavRigth a:hover {
    color: #810107;
  }
#navbarNavRigth {
  margin-right: 1rem;
  padding: 10px;
  background-color: #ffdc82;
  border-radius: 15px;
}
